<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Places You've Been</title>
</head>
<body>
    <div class='container'>
        <h1>You added a place!</h1>
        <p>{{ newplace.getCityName }}</p>
        <p>{{ newplace.getDate }}</p>
        <p><a href='/'>View the places you've been.</a></p>
    </div>
</body>
</html>
