<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='styles.css' rel='stylesheet' type='text/css' media='all'>
    <title>Places You've Been</title>
</head>
<body>
    <div class='container'>
        <h1>You added a place!</h1>
        <p>Place: {{ newplace.getCityName }}</p>
        <p>When: {{ newplace.getDate }}</p>
        <p>How long: {{ newplace.getDuration }}</p>
        <p>Reason: {{ newplace.getReason }}</p>
        <p><a href='/'>View the places you've been.</a></p>
    </div>
</body>
</html>
