<html>
<head>
    <title>Places You've Been</title>
</head>
<body>
    <h1>You added a place!</h1>
    <p>{{ newplace.getCityName }}</p>
    <p><a href='/'>View the places you've been.</a></p>
</body>
</html>
